body
{
	background-color: #dadaf1;
	font-size:120%;
	font-family: 'Source Sans Pro', sans-serif;
}

a
{
	color: #333;
}

.wrapper
{
	background-color: #fff;
	width: 1000px;
	margin: 0 auto;
	border-radius: 10px;

}

header .hero ul
{
	margin-right: 20px;
}

header .hero li
{
	display: inline-block;
	float: right;
	padding: 20px;
	margin-top: 20px;
}


header .hero .brand
{
	color: white;
	font-family: 'Dancing Script', cursive;
	font-size: 500%;
	padding: 135px 140px;
	font-weight: bold;
}

header .hero .brand span
{
	font-size: 40%;
	padding: 40px;
}

header .row
{
	position: center;
	text-align: center;
}

header .main-nav
{
	list-style: none;
	position: center;
	padding: 20px 20px;
}

header .main-nav li
{
	display: inline-block;
	margin: 10 auto;
	position: center;
}

header .main-nav li a
{
	padding: 5px 50px;
	font-weight: lighter;
	text-decoration: none;
}

header .main-nav li a:hover
{
	border: 1px solid black;
}

.active a
{
	border: 1px solid black;
}

.hero
{
	height: 400px;
	background: url(astronomy-1867616_1920.jpg);
	border-radius: 5px;

}

content
{
	overflow: hidden;
	display: block;
	padding: 50px;
}

main
{
	float: left;
	width: 70%;
}

content h3
{
	text-align: center;
}

.container
{
	padding: 24px;
	margin: 48px 12px;
	background: #E3F233;
}

.contact_form label {
	font-size: 0.85em;
	margin-left: 12px;
}

/* Add styles to 'input' and 'textarea' selectors */
.contact_form input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Add styles to show 'focus' of selector */
.contact_form input[type=text]:focus,input[type=email]:focus, textarea:focus {
	border: 1px solid green;
}

/* Add styles to the submit button */
.contact_form input[type=submit] {
	background: #64B5F6;
	margin: 0 auto;
	outline: 0;
	color: white;
	border: 0;
	padding: 12px 24px;
	border-radius: 4px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
}

/* Add styles for 'focus' property */
input[type=submit]:focus {
	background: #A5D6A7;
	color: whitesmoke;
}

/* Style 'hover' property */
input[type=submit]:hover {
	background: #2196F3;
}

/* Align items to center of the 'div' with the class 'center' */
.center {
	text-align: center;
}

.iconify
{
	color: white;
	width: 36px;
	height: 36px;
}

.iconify:hover
{
	width: 38px;
	height: 38px;
}

article
{
	margin-bottom: 60px;

}

article h2
{
	margin-bottom: 0;
	font-size: 170%;
	color: #333;
	padding: 0;
}

article p
{
	margin-top: 10px;
	font-size: 100%;
	color: #333;
	padding: 0;
}


footer
{
	text-align: center;
	padding: 20xp;
	font-size: 90%;
	clear: both;
	display: block;
}