body
{
	background-color: #dadaf1;
	font-size:120%;
	font-family: 'Source Sans Pro', sans-serif;
}

a
{
	color: #333;
}

.wrapper
{
	background-color: #fff;
	width: 1000px;
	margin: 0 auto;
	border-radius: 10px;

}

header .hero ul
{
	margin-right: 20px;
}

header .hero li
{
	display: inline-block;
	float: right;
	padding: 20px;
	margin-top: 20px;
}


header .hero .brand
{
	color: white;
	font-family: 'Dancing Script', cursive;
	font-size: 500%;
	padding: 135px 140px;
	font-weight: bold;
}

header .hero .brand span
{
	font-size: 40%;
	padding: 40px;
}

header .row
{
	position: center;
	text-align: center;
}

header .main-nav
{
	list-style: none;
	position: center;
	padding: 20px 20px;
}

header .main-nav li
{
	display: inline-block;
	margin: 10 auto;
	position: center;
}

header .main-nav li a
{
	padding: 5px 50px;
	font-weight: lighter;
	text-decoration: none;
}

header .main-nav li a:hover
{
	border: 1px solid black;
}

.active a
{
	border: 1px solid black;
}

.hero
{
	height: 400px;
	background: url(astronomy-1867616_1920.jpg);
	border-radius: 5px;

}

content
{
	overflow: hidden;
	display: block;
	padding: 50px;
}

main
{
	float: left;
	width: 70%;
}

.iconify
{
	color: white;
	width: 36px;
	height: 36px;
}

.iconify:hover
{
	width: 38px;
	height: 38px;
}

article
{
	margin-bottom: 60px;

}

article h2
{
	margin-bottom: 0;
	font-size: 170%;
	color: #333;
	padding: 0;
}

article p
{
	margin-top: 10px;
	font-size: 100%;
	color: #333;
	padding: 0;
}


footer
{
	text-align: center;
	padding: 20xp;
	font-size: 90%;
	clear: both;
	display: block;
}